<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Runnerly Dashboard</title>
  </head>
  <body>
    <div class="container">
      <h1>Runnerly Dashboard</h1>
      <br>
      <div id="runs"></div>
      <div id="races"></div>
      <div id="training"></div>
      {% if not user %}
      <a href="{{strava_url}}">Login via Strava</a>
      {% else %}
      Hi {{user}}!
      <a href="/logout">Logout</a>
      {% endif %}
    </div>

    <script src="/static/react/react.js"></script>
    <script src="/static/react/react-dom.js"></script>
    <script src="/static/dashboard.js"></script>

  </body>
</html>
